
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: #fff;
}

body a {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    text-decoration: none;
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: 'Redressed', cursive;
}

p {
    margin: 0;
    color: #777;
    font-size: 1em;
    line-height: 1.6;
}

ul,
label {
    margin: 0;
    padding: 0;
}

body a:hover {
    text-decoration: none;
}

body a:focus {
    outline: none;
    text-decoration: none;
}


.banner-bg {
    background-color: #FC9;
}


/*-- header --*/

h1 a.navbar-brand {
    font-size: 1.2em;
    font-weight: 800;
    color: #fff !important;
    padding: 24px 0 0;
    position: relative;
    text-transform: capitalize;
    font-family: 'Emilys Candy', cursive;
}

h1 img {
    width: 39%;
    transform: rotate(-63deg);
    -ms-transform: rotate(-63deg);
    /* IE 9 */
    -webkit-transform: rotate(-63deg);
    /* Safari 3-8 */
    position: absolute;
    top: -5px;
    left: -20px;
}

.nav-right {
    float: right;
}

.navbar>.container .navbar-brand,
.navbar>.container-fluid .navbar-brand {
    margin-left: 15px;
}

.navbar {
    margin-bottom: 0;
}

nav.navbar.navbar-default.navbar-fixed-top {
    background: transparent;
    border: none;
    padding: 1em 0;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    transition: .5s all;
}

nav.navbar.navbar-default.navbar-fixed-top.top-nav-collapse {
    padding: 0;
}

.navbar-nav>li {
    margin: 0 0.5em 0;
}

.navbar-default .navbar-nav>li>a {
    color: #630;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    transition: .5s all;
    text-shadow: none;
    padding: 15px 17px;
}


/* Effect 15: scale down, reveal */

.navbar-right li span.fa.fa-home {
    font-size: 2em;
}

li.first-nav {
    margin-top: 0;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background: transparent;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: #fff;
    background: transparent;
}

.navbar-right {
    margin-top: 1em;
}

.navbar-nav>li.active a.page-scroll {
    color: #fff;
}

nav.navbar.navbar-default.navbar-fixed-top.top-nav-collapse {
    background: #663300;
}

.navbar-default .navbar-nav>li.active>a::before {
    color: #630;
}


/*-- //header --*/

h5.sec-title {
    text-align: center;
    margin-bottom: 1.5em;
    font-size: 3em;
    color: #000;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.dropdown-menu {
    border-radius: 0px;
    min-width: 150px;
    padding: 0;
}

.dropdown-menu {
    background: #e01414;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
    color: #e01414;
    background-color: #000;
}

.dropdown-menu li a {
    padding: 10px 15px;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 13px;
    text-transform: uppercase;
    color: #fff;
}

.dropdown-menu {
    min-width: 150px;
    padding: 0;
}

.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus {
    color: #fff;
    text-decoration: none;
    background-color: #e01414;
    outline: 0;
}

ul.dropdown-menu.sub-menu {
    min-width: 130px;
    top: 77px;
    left: 148px;
    -webkit-animation: fadeinleft 600ms ease-in-out;
    -moz-animation: fadeinleft 600ms ease-in-out;
    -o-animation: fadeinleft 600ms ease-in-out;
    -ms-animation: fadeinleft 600ms ease-in-out;
    animation: fadeinleft 600ms ease-in-out;
}

ul.dropdown-menu:hover a.s-menu {
    background: #357f2a;
    color: #fff;
}

.dropdown-menu.columns-2 {
    min-width: 400px;
}

.dropdown-menu.columns-3 {
    min-width: 600px;
}

.banner-bg-agileits
{
    background-color: rgb(223, 165, 107);
}
.banner-text {
    text-align: center;
    padding: 19em 0 0;
}

.banner-text p {
    width: 51%;
    color: #fff;
    margin: 1em auto 2em;
    font-size: 1em;
    font-weight: 300;
    line-height: 2em;
    letter-spacing: 5px;
}

/*-- counter timer --*/
/*--timer--*/

#counter {
    height: 160px;
    font-size: 35px;
    margin: 20px 20px 20px;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.62);
}

.timer {
    border-top: 2px ridge #5F5F5F;
    border-bottom: 2px ridge #5F5F5F;
}

.timer h4 {
    font-size: 14px;
    color: #E5E5E5;
    font-style: normal;
    font-variant: normal;
    font-weight: lighter;
    letter-spacing: 1px;
    margin-top: 20px;
}

.countDays,
.countHours,
.countMinutes,
.countSeconds {
    float: left;
    padding: 47px 0;
    width: 20.5%;
    background: rgba(4, 31, 167, 0.1);
    border: 1px solid rgba(193, 175, 78, 0.28);
    background: transparent;
    border: none;
    border-left: none;
    text-align: center;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}


/*.countDays, .countHours, .countMinutes, .countSeconds {
  border: 1px solid #fff;
    box-sizing: border-box;
	border-right: transparent;
}*/


/*.countSeconds:last-child {
     border-right: 1px solid #fff;	
}*/

.timer_wrap {
    width: 64%;
    margin: 0 auto;
    box-sizing: border-box;
}

.points {
    float: left;
    width: 40px;
    margin: 0;
    font-size: 44px;
    font-weight: bold;
    text-align: center;
    line-height: 138px;
    text-shadow: none;
    color: #FFF;
}

.boxName {
    font-size: 14px;
    color: #e01414;
    font-weight: bold;
    text-transform: uppercase;
    clear: both;
    display: block;
    padding: 10px 0;
}

/*---My Code-----*/

.about_container{
    width: 100%;
    height: 630px;
    background-color: #7a4e23;
}
.event_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 750px;
    padding-top: 100px;
    background-color:rgb(218, 174, 131);
}
#left_day_one{
    padding-right: 300px;
    padding-left: 100px;
    padding-top: 100px;
    font-size: 70px;
}
.event_container>*{
    flex: 1 1 50%;
}
#right_day_one{
    font-size: 70px;
    padding-top: 100px;
}


.icon-cards {
    width: 60vw;
    height: 40vw;
    max-width: 380px;
    max-height: 250px;
    margin: 0;
    color: white;
    perspective: 1000px;
  }
  .icon-cards__content {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transform: translateZ(-30vw) rotateY(0);
    animation: carousel 10s infinite cubic-bezier(0.77, 0, 0.175, 1) forwards;
  }
  .icon-cards__content.step-animation {
    animation: carousel 8s infinite steps(1) forwards;
  }
  .icon-cards__item {
    position: absolute;
    top: 0;
    left: 0;
    width: 60vw;
    height: 80vw;
    max-width: 380px;
    max-height: 250px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .1);
    border-radius: 6px;
  }
  .icon-cards__item:nth-child(1) {
    background: rgb(90, 48, 6);
    transform: rotateY(0) translateZ(35vw);
  }
  .icon-cards__item:nth-child(2) {
    background: rgb(90, 48, 6);
    transform: rotateY(90deg) translateZ(35vw);
  }
  .icon-cards__item:nth-child(3) {
    background: rgb(90, 48, 6);
    transform: rotateY(180deg) translateZ(35vw);
  }
  .icon-cards__item:nth-child(4) {
    background: rgb(90, 48, 6);
    transform: rotateY(270deg) translateZ(35vw);
  }


  @keyframes carousel {
    0%, 10% {
      transform: translateZ(-35vw) rotateY(0);
    }
    20%, 30% {
      transform: translateZ(-35vw) rotateY(-90deg);
    }
    40%, 50% {
      transform: translateZ(-35vw) rotateY(-180deg);
    }
    70%, 80% {
      transform: translateZ(-35vw) rotateY(-270deg);
    }
    90%, 100% {
        transform: translateZ(-35vw) rotateY(-360deg);
      }
  }
  
  


.coordinator{
    background-color: #20183c;
}





  .shadow-effect {
    background: #f2f2f2;
    padding: 20px;
    border-radius: 4px;
    text-align: center;
    border:1px solid #ECECEC;
    box-shadow: 0 19px 38px rgba(151, 148, 148,0.10), 0 15px 12px rgba(151, 148, 148, 0.02);
}
#customers-testimonials .shadow-effect p {
    font-family: inherit;
    font-size: 20px;
    line-height: 1.5;
    margin: 0 0 17px 0;
    font-weight: 300;
}
.testimonial-name {
    margin: -17px auto 0;
    display: table;
    width: auto;
    background: #3190E7;
    padding: 9px 35px;
    border-radius: 12px;
    text-align: center;
    color: #fff;
    box-shadow: 0 9px 18px rgba(0,0,0,0.12), 0 5px 7px rgba(0,0,0,0.05);
}
#customers-testimonials .item {
    text-align: center;
    padding: 50px;
        margin-bottom:80px;
    opacity: .2;
    -webkit-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
#customers-testimonials .owl-item.active.center .item {
    opacity: 1;
    -webkit-transform: scale3d(1.0, 1.0, 1);
    transform: scale3d(1.0, 1.0, 1);
}
.owl-carousel .owl-item img {
    transform-style: preserve-3d;
    max-width: 100px;
    margin: 0 auto 17px;
}
#customers-testimonials.owl-carousel .owl-dots .owl-dot.active span,
#customers-testimonials.owl-carousel .owl-dots .owl-dot:hover span {
    background: #3190E7;
    transform: translate3d(0px, -50%, 0px) scale(0.7);
}
#customers-testimonials.owl-carousel .owl-dots{
display: inline-block;
width: 100%;
text-align: center;
}
#customers-testimonials.owl-carousel .owl-dots .owl-dot{
display: inline-block;
}
#customers-testimonials.owl-carousel .owl-dots .owl-dot span {
    background: #3190E7;
    display: inline-block;
    height: 20px;
    margin: 0 2px 5px;
    transform: translate3d(0px, -50%, 0px) scale(0.3);
    transform-origin: 50% 50% 0;
    transition: all 250ms ease-out 0s;
    width: 20px;
}


.footer_section{
    display: flex;
    flex-wrap: wrap;
}
#map{
    width: 70%;
    height: 400px;
}
.contact_section{
    width: 30%;
    height: 400px;
}





#map{height: 700px;}
a {color: #f56363;transition: all 0.3s ease-in-out}
p{font-weight: 400;color: #4c4c4c;font-size: 17px}
.map-info-box { text-align: left}
.map-info-box p { margin: 0 0 8px}
.map-info-box i {padding-right: .5em;color: #CEC9C9}
.map-head h3 {
  height: 64px;
  background: url(http://icons.iconarchive.com/icons/icons8/windows-8/64/Logos-Box-icon.png) 81px center no-repeat;
  background-size: 64px auto;
  text-indent: -999em;
  margin: 12px 0 14px;
}
.map-address { font-weight: 300; }
.map-email { font-weight: 400; }









































@media screen and (max-width: 720px)
{
    .about_container{
        height: 530px;
    }
    .event_container{
        height: 800px;
        padding-top: 20px;
    }
    .event_container>*{
        flex: 1 1 100%;
    }
    #left_day_one{
        padding-left: 0;
        padding-right: 0;
        padding-top: 0px;
        font-size: 20px;
        margin-left: auto;
        margin-right: auto;
    }
    .icon-cards{
        margin-top: 50px;
        margin-bottom: 100px;
    }
    #right_day_one{
        font-size: 20px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 20px;
    }
}

/*----My Code------*/

/*--//timer--*/


/* -- Responsive code -- */

@media screen and (max-width: 1440px) {
    h3.title {
        font-size: 2.7em
    }
    
    .banner-bg-agileits {
        min-height: 720px;
    }
}

@media screen and (max-width: 1366px) {
    .slider-right {
        width: 38%;
    }
    
    .banner-bg-agileits {
        min-height: 650px;
    }
}

@media screen and (max-width: 1280px) {
    .about-bottom-right p {
        width: 100%;
    }
    h4.title {
        font-size: 1.8em;
    }
    .ab1 {
        padding: 2em 1em;
    }
    .slider-right {
        width: 41%;
    }
    
    .banner-bg-agileits {
        min-height: 1000px;
    }
}

@media screen and (max-width: 1080px) {
    h2.title {
        width: 45%;
    }
    .timer_wrap {
        width: 77%;
    }
    .banner-bg-agileits {
        min-height: 1000px;
    }
    .about-right-grid {
        min-height: 739px;
    }
    .inner-about2 h4 {
        font-size: 1.8em;
    }
    .about-bottom-right {
        width: 100%;
    }
    .about-bottom-left {
        min-height: 430px;
        width: 100%;
        margin-top: 3em;
    }
    h3.title {
        font-size: 2.5em;
    }
    .slider-right {
        width: 48%;
    }
    .contact-form input[type="text"],
    .contact-form input[type="email"] {
        width: 47.3%;
    }
    .subscribe-form {
        width: 55%;
    }
}

@media screen and (max-width: 1050px) {
    .banner-text {
        padding: 17em 0 0;
    }
    .banner-bg-agileits {
        min-height: 720px;
    }
}

@media screen and (max-width: 1024px) {
    .banner-bg-agileits {
        min-height: 675px;
    }
    .banner-text {
        padding: 15em 0 0;
    }
    h2.title {
        font-size: 5.3em;
    }
    .about-right-grid {
        min-height: 732px;
    }
    .slider-right:nth-child(odd) {
        left: 36px;
    }
}

@media screen and (max-width: 991px) {
    .navbar-default .navbar-nav>li>a {
        padding: 15px 7px;
    }
    h2.title {
        width: 60%;
    }
    .digit {
        font-size: 1.7em;
    }
    h4.title {
        font-size: 1.7em;
        width: 100%;
    }
    .about-left-grid h3 {
        font-size: 2.8em;
    }
    .about-left-grid p {
        width: 100%;
    }
    .about-left-grid {
        padding: 0;
    }
    .about-right-grid {
        margin-top: 1.5em;
        min-height: 515px;
    }
    .section {
        padding: 3em 0;
    }
    .ab1-text h5 {
        font-size: 1.8em;
    }
    .slider-container {
        width: 78%;
    }
    .carousel-control span {
        margin-top: 8em;
    }
    div#slider-thumbs,
    div#carousel-bounding-box,
    .team-w3ls-txt {
        padding: 0;
    }
    .team-w3ls-txt h6 {
        font-size: 1.6em;
    }
    .contact-left {
        text-align: left;
        margin-top: 3em;
    }
    .contact-form input[type="text"],
    .contact-form input[type="email"] {
        width: 47.9%;
    }
    h5.sec-title {
        margin-bottom: 1em;
    }
    .subscribe-form {
        width: 60%;
    }
    .subscribe-main input[type="email"] {
        width: 71%;
    }
    .subscribe-main input[type="submit"] {
        width: 29%;
    }
}

@media screen and (max-width: 900px) {
    .banner-bg-agileits {
        min-height: 625px;
    }
    h2.title {
        font-size: 5.1em;
    }
    .callbacks_container:nth-child(2) {
        margin-left: 20em;
    }
    .team-grids:hover .social-icon {
        padding-top: 15em;
    }
}

@media screen and (max-width: 800px) {
    .about-right-grid {
        min-height: 475px;
    }
    .w3ls-about-banner:nth-child(odd) {
        margin: 6em 0;
    }
    .slider-right {
        width: 55%;
    }
    .callbacks_tabs {
        bottom: 7%;
    }
}

@media screen and (max-width: 768px) {
    .banner-bg-agileits {
        min-height: 590px;
    }
    .callbacks_container:nth-child(2) {
        margin-left: 18em;
    }
    .slider-right {
        width: 56%;
    }
    .about-bottom-left {
        min-height: 390px;
    }
    .team-grids:hover .social-icon {
        padding-top: 13em;
    }
    h5.sec-title {
        font-size: 2.8em;
    }
}

@media screen and (max-width:767px) {
    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        width: 100%;
        background: rgba(0, 0, 0, 0.79);
        border: none;
    }
    .navbar-nav>li {
        text-align: center;
    }
    .dropdown-menu li a {
        color: #e01414 !important;
        text-align: center;
    }
    .dropdown-menu li a:hover {
        color: #fff !important;
    }
    .navbar-toggle {
        margin-right: 2em;
    }
    .navbar-default .navbar-toggle {
        border-color: transparent;
    }
    .navbar-toggle .icon-bar {
        display: block;
        width: 26px;
        height: 4px;
        border-radius: 1px;
    }
    .navbar-default .navbar-toggle,
    .navbar-default .navbar-toggle:hover,
    .navbar-default .navbar-toggle:focus {
        background: transparent;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background: #e01414;
    }
    .navbar-default .navbar-brand {
        padding-left: 1em;
        font-size: 1.1em;
        padding-bottom: 1em;
    }
}

@media screen and (max-width: 736px) {
    h2.title {
        font-size: 4.8em;
    }
    .banner-bg-agileits {
        min-height: 575px;
    }
    .ab1-icon span {
        font-size: 1.8em;
    }
    .ab1-icon {
        width: 49px;
        height: 45px;
    }
    .callbacks_container:nth-child(2) {
        margin-left: 16em;
    }
    .slider-right {
        width: 58%;
    }
    h3.title {
        font-size: 2.2em;
    }
    .team-grids:nth-child(even) {
        margin-top: 0em;
    }
    .team-effect {
        margin: 2em 1em 0;
    }
    .team-text {
        width: 92.5%;
        margin: 0 auto;
    }
    .slider-container {
        width: 83%;
    }
    .carousel-control span {
        margin-top: 17em;
    }
    .ab1-text {
        padding-right: 0;
    }
}

@media screen and (max-width: 667px) {
    .about-right-grid {
        min-height: 420px;
    }
    h2.title {
        font-size: 4.6em;
    }
    div#about {
        padding-bottom: 0;
    }
    .subscribe-main h5 {
        font-size: 1.8em;
        letter-spacing: 1px;
    }
    .subscribe-form {
        width: 66%;
    }
    h4.title {
        font-size: 1.5em;
    }
    .about-bottom-left {
        min-height: 360px;
    }
    .callbacks_container {
        width: 70%;
    }
    .callbacks_container:nth-child(2) {
        margin-left: 13em;
    }
    .contact-form input[type="text"],
    .contact-form input[type="email"] {
        width: 47.5%;
    }
}

@media screen and (max-width: 640px) {
    .banner-bg-agileits {
        min-height: 540px;
    }
    .banner-text {
        padding: 13em 0 0;
    }
    .subscribe-form {
        width: 69%;
    }
}

@media screen and (max-width: 600px) {
    h2.title {
        font-size: 4.4em;
    }
    .callbacks_container:nth-child(2) {
        margin-left: 10em;
    }
    .slider-right {
        width: 61%;
    }
    .team-text {
        width: 90.4%
    }
    .carousel-control span {
        margin-top: 14em;
    }
    .team-w3ls-txt h6 {
        font-size: 1.4em;
    }
    .contact-form input[type="text"],
    .contact-form input[type="email"] {
        width: 47.3%;
    }
    .testi-main {
        width: 100%;
    }
    .subscribe-main h5 {
        letter-spacing: 0px;
    }
    h5.sec-title {
        font-size: 2.6em;
    }
    h3.title {
        font-size: 2em;
    }
    .subscribe-form {
        width: 75%;
    }
    .w3ls-about-banner:nth-child(odd) {
        margin: 5em 0;
    }
    .footer-social,
    .cpy-right {
        float: none;
        text-align: center;
    }
    .cpy-right {
        padding: 0;
    }
    .footer-cpy {
        padding: 1em 0;
    }
}

@media screen and (max-width: 568px) {
    h2.title {
        font-size: 4.1em;
    }
    .banner-bg-agileits {
        min-height: 500px;
    }
    .about-left-grid h3 {
        font-size: 2.5em;
    }
    .services-w3ls {
        width: 100%;
    }
    .about-bottom-left h5 {
        font-size: 2.8em;
    }
    .about-bottom-left {
        min-height: 325px;
    }
    .section {
        padding: 2.5em 0;
    }
    .contact-form input[type="text"],
    .contact-form input[type="email"] {
        width: 100%;
    }
    input.email {
        margin: 1.7em 0 0;
    }
    .subscribe-form {
        width: 80%;
    }
}

@media screen and (min-width: 481px) {
    .inner-about {
        display: -webkit-box;
        /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box;
        /* OLD - Firefox 19- (buggy but mostly works) */
        display: -ms-flexbox;
        /* TWEENER - IE 10 */
        display: -webkit-flex;
        /* NEW - Chrome */
        display: flex;
        margin-top: 3em;
    }
    .inner-about1,
    .inner-about2 {
        -webkit-box-flex: 1;
        /* OLD - iOS 6-, Safari 3.1-6 */
        -moz-box-flex: 1;
        /* OLD - Firefox 19- */
        width: 20%;
        /* For old syntax, otherwise collapses. */
        -webkit-flex: 1;
        /* Chrome */
        -ms-flex: 1;
        /* IE 10 */
        flex: 1;
        /* NEW, Spec - Opera 12.1, Firefox 20+ */
    }
}

@media screen and (max-width: 480px) {
    h2.title {
        font-size: 3.8em;
        width: 66%;
    }
    .inner-about2 {
        padding: 2em;
    }
    .points {
        width: 30px;
    }
    .position {
        height: 34px;
    }
    .about-bottom-left {
        min-height: 285px;
    }
    h3.title {
        font-size: 1.8em;
    }
    .slider-right p {
        font-size: 1.1em;
        padding: 0.5em;
    }
    .about-bottom-left h5 {
        font-size: 2.4em;
    }
    .team-text h4 {
        font-size: 1.8em;
    }
    .subscribe-form {
        width: 94%;
    }
    h4.title {
        font-size: 1.4em;
    }
    .team-text {
        width: 88.4%;
    }
    .banner-info h3 {
        font-size: 2.2em;
    }
    .carousel-control span {
        margin-top: 11em;
    }
}

@media screen and (max-width: 414px) {
    h2.title {
        font-size: 3.4em;
        width: 76%;
    }
    h4.title {
        font-size: 1.4em;
        line-height: 1.4;
    }
    .about-left-grid h3 {
        font-size: 2.3em;
    }
    .banner-bg-agileits {
        min-height: 460px;
    }
    .about-right-grid {
        min-height: 390px;
    }
    .callbacks_container:nth-child(2) {
        margin-left: 5em;
    }
    .slider-right:nth-child(odd) {
        left: 5px;
    }
    h5.sec-title {
        font-size: 2.5em;
    }
    .callbacks_container {
        width: 80%;
    }
    h3.title {
        font-size: 1.6em;
    }
    .slider-right {
        width: 65%;
    }
    .team-grids:hover .social-icon {
        padding-top: 10em;
    }
    .team-text {
        width: 86%;
    }
    .subscribe-main input[type="email"] {
        width: 67%;
    }
    .subscribe-main input[type="submit"] {
        width: 33%;
    }
    .carousel-control span {
        margin-top: 9em;
    }
    .footer-bottom {
        padding: 2em 0 1em;
    }
    .footer-grid-img:nth-child(even) {
        margin-top: 6em;
    }
}

@media screen and (max-width: 384px) {
    h2.title {
        font-size: 3.2em;
    }
    .banner-text {
        padding: 12em 0 0;
    }
    .banner-bg-agileits {
        min-height: 435px;
    }
    h4.title {
        font-size: 1.3em;
    }
    .about-bottom-left h5 {
        font-size: 2.2em;
    }
    .about-bottom-left {
        min-height: 245px;
    }
    .slider-right {
        width: 70%;
    }
    .team-grids {
        width: 100%;
    }
    .slider-right p {
        font-size: 1em;
    }
    .subscribe-form {
        width: 100%;
    }
    .subscribe-main input[type="submit"] {
        letter-spacing: 1px;
    }
    .team-text {
        width: 92%;
    }
    h5.sec-title {
        font-size: 2.3em;
    }
    .team-grids:hover .social-icon {
        padding-top: 16em;
    }
    .footer-grid-img:nth-child(even) {
        margin-top: 4em;
    }
}

@media screen and (max-width: 375px) {
    h2.title {
        font-size: 3.1em;
    }
    .about-bottom-left h5 {
        font-size: 2.1em;
    }
    .about-bottom-left {
        min-height: 217px;
    }
    .slider-container {
        width: 93%;
    }
    .carousel-control span {
        margin-top: 8em;
    }
    h5.sec-title {
        font-size: 2.2em;
    }
    h5.sec-title {
        margin-bottom: 0.8em;
    }
}

@media screen and (max-width: 320px) {
    .banner-bg-agileits {
        min-height: 400px;
    }
    .banner-text {
        padding: 11em 0 0;
    }
    .team-text {
        width: 91%;
    }
    .contact-form input[type="submit"],
    .contact-form input[type="reset"] {
        padding: .5em 2.6em;
        margin-right: 0;
    }
    h2.title {
        font-size: 2.8em;
    }
    .inner-about2 {
        padding: 2em 1em;
    }
    .inner-about2 h4 {
        font-size: 1.7em;
    }
    .services-w3ls {
        padding: 0;
    }
    .inner-about1 {
        min-height: 360px;
    }
    .callbacks_container:nth-child(2) {
        margin-left: 3em;
    }
    .slider-right {
        width: 74%;
    }
    .carousel-control span {
        margin-top: 7em;
    }
    .slider-container {
        width: 100%;
    }
    .slider-right:nth-child(odd) {
        left: 14px;
    }
    .footer-grid-img {
        width: 50%;
        margin: 0;
    }
    .footer-grid-img:nth-child(even) {
        margin: 0;
    }
    .subscribe-main input[type="submit"],
    .subscribe-main input[type="email"] {
        width: 100%;
    }
    .subscribe-form {
        margin: 1em 0;
    }
}


/* -- //Responsive code -- */